<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          Calcule <br />
          <span style="color: hsl(218, 81%, 75%)">seu Valor/Hora</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Muitas vezes não sabemos quando cobrar e acabamos perdendo dinheiro.
          Essa calculadora vai te ajudar muito a resolver esse problema e vai
          manter os dados salvos.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h1>Cadastrar</h1>
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
              <!-- Email input -->
              <div
                *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="name?.hasError('required')">Preencha o nome.</div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="name">Nome</label>
                <input
                  formControlName="name"
                  type="text"
                  id="name"
                  placeholder="Digite a sua senha aqui"
                  [mask]="getMaskAllLetters(200)"
                  class="form-control"
                />
              </div>

              <!-- Password input -->

              <div
                *ngIf="
                  password?.invalid && (password?.dirty || password?.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="password?.hasError('required')">
                  Preencha a senha.
                </div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Senha</label>
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  placeholder="Digite a sua senha aqui"
                  [mask]="getMaskAllLetters(30)"
                  formControlName="password"
                />
              </div>

              <!-- Checkbox -->
              <!-- Submit button -->
              <div class="container-button">
                <button
                  [routerLink]="['/auth/login']"
                  type="submit"
                  class="btn btn-primary btn-block mb-4"
                >
                  Já possui um login? Logar
                </button>
                <button
                  [disabled]="!registerForm.valid || !registerForm.touched"
                  style="margin-left: 95px"
                  type="submit"
                  class="btn btn-danger btn-block mb-4"
                >
                  Cadastrar
                </button>
              </div>
              <!-- Register buttons -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
