<app-navbar [isLogged]="false"></app-navbar>
<main class="container-main">
  <section class="container-fixed-tax">
    <h1>Cadastrar</h1>
    <br />
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="regionalCouncil"
            formControlName="name"
            placeholder="Digite o Nome"
          />
        </div>
      </div>
      <div class="mb-3">

        <label for="password" class="form-label">Senha</label>
        <div class="input-group mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Digite a senha"
          />
        </div>
      </div>
      <button class="button-24" type="submit">Cadastrar</button>
      <p class="button-3" [routerLink]="['/auth/login']" >Ja é cadastrado? Logue aqui</p>
    </form>
  </section>
</main>
<app-footer [isLogged]="false"></app-footer>
