  <!-- Form BEGIN -->
  <form [formGroup]="hourValueForm">
    <div class="mb-3">
      <div
        *ngIf="
          daysOfWork?.invalid && (daysOfWork?.dirty || daysOfWork?.touched)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="daysOfWork?.hasError('required')">Preencha o valor.</div>
        <div *ngIf="daysOfWork?.hasError('min')">
          É necessário pelo menos 1 dia de trabalho.
        </div>
        <div *ngIf="daysOfWork?.hasError('max')">Máximo de dias é 31</div>
      </div>

      <label for="daysOfWork" class="form-label">Dias de Trabalho</label>
      <input
        type="number"
        class="form-control"
        id="daysOfWork"
        [class.is-invalid]="
          hourValueForm.get('daysOfWork')?.errors && daysOfWork?.touched
        "
        formControlName="daysOfWork"
        placeholder="Dias de Trabalho no Mês"
      />
    </div>

    <div class="mb-3">
      <div
        *ngIf="
          expectedSalary?.invalid &&
          (expectedSalary?.dirty || expectedSalary?.touched)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="expectedSalary?.hasError('required')">
          Preencha o valor.
        </div>
        <div *ngIf="expectedSalary?.hasError('min')">
          Caso nenhum valor, coloque zero.
        </div>
        <div *ngIf="expectedSalary?.hasError('max')">Número muito grande</div>
      </div>

      <label for="expectedSalary" class="form-label"
        >Salario Mensal Líquido Esperado</label
      >
      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input
          type="number"
          class="form-control"
          id="expectedSalary"
          [class.is-invalid]="
            hourValueForm.get('expectedSalary')?.errors &&
            expectedSalary?.touched
          "
          formControlName="expectedSalary"
          placeholder="Salario Liquido esperado"
        />
        <span class="input-group-text">,00</span>
      </div>
    </div>
    <button
      class="button-5"
      *ngIf="hourValueId == null"
      (click)="createHourValue()"
    >
      Salvar
    </button>
    <button
      class="button-5"
      *ngIf="hourValueId != null"
      (click)="updateHourValue()"
    >
      Atualizar
    </button>
  </form>
  <!-- Form END -->
