<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Calculador de Valor Hora</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hourvalue/monthly']"
            >Valor/Hora por Mês</a
          >
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']"
            >Sobre</a
          >
        </li>
      </ul>
      <span *ngIf="isLogged == true" class="button-11" (click)="logOut()"> Logout </span>
    </div>
  </div>
</nav>
