<app-navbar [isLogged]="true"></app-navbar>
<main class="container-main">
  <section class="container-fixed-tax">
    <h1>Taxas Fixas</h1>
    <app-fixed-tax
      [fixedTaxId]="totalTaxResponse?.fixedTaxId"
      (localStorageFixedTaxId)="getFixedTaxId($event)"
    ></app-fixed-tax>
  </section>

  <div class="container-variable-tax">
    <section class="section-variable-tax">
      <h1>Taxas Variáveis</h1>
      <app-variable-tax
        [variableTaxId]="totalTaxResponse?.variableTaxId"
        (localStorageVariableTaxId)="getVariableTaxId($event)"
      ></app-variable-tax>
      <app-hour-value
        (localStorageHourValueId)="getVariableTaxId($event)"
        [hourValueId]="totalTaxResponse?.hourValueId"
      ></app-hour-value>
      <div>
        <button
          *ngIf="isDisabled != true"
          [disabled]="isDisabled"
          type="button"
          class="btn btn-primary"
          (click)="sendClick()"
        >
          Ver Valor no Mês
        </button>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
