<app-navbar [isLogged]="true"></app-navbar>
<main class="container-main">
  <div class="card" style="width: 38rem; height: 20rem">
    <div class="card-body">
      <h5 class="card-title">Sobre</h5>
      <br />
      <br />
      <p class="card-subtitle mb-2 text-muted">
        Este site foi feito com o intuito de saber facilmente e consultar o
        valor/hora, é muito comum uma situação onde não sabemos exatamente
        quanto cobrar por nossa hora, e acabamos cobrando menos do que deveriamos,
        com essa calculadora fica muito mais fácil definir um valor aproximado.
      </p>
      <p>O código fonte para essa calculadora é livre no <a href="https://github.com/d1av/taxes-calculator-spring-angular" target="_blank"> Github </a></p>
    </div>
  </div>
</main>
<app-footer [isLogged]="true"></app-footer>
