 <!-- Form BEGIN -->
  <form [formGroup]="variableTaxForm">
    <div class="mb-3">
      <div
        *ngIf="
          creditCard?.invalid &&
          (creditCard?.dirty || creditCard?.touched)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="creditCard?.hasError('required')">
          Preencha o valor.
        </div>
        <div *ngIf="creditCard?.hasError('min')">
          O valor tem maior ou igual a zero.
        </div>
        <div *ngIf="creditCard?.hasError('max')">Número muito grande</div>
      </div>

      <label for="daysOfWork" class="form-label">Cartão de Crédito</label>
      <input
        type="number"
        class="form-control"
        id="daysOfWork"
        [class.is-invalid]="
          variableTaxForm.get('creditCard')?.errors &&
          creditCard?.touched
        "
        formControlName="daysOfWork"
        placeholder="Dias de Trabalho no Mês"
      />
    </div>


    <div class="mb-3">
      <div
        *ngIf="
          expectedSalary?.invalid &&
          (expectedSalary?.dirty || expectedSalary?.touched)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="expectedSalary?.hasError('required')">
          Preencha o valor.
        </div>
        <div *ngIf="expectedSalary?.hasError('min')">
          Caso nenhum valor, coloque zero.
        </div>
        <div *ngIf="expectedSalary?.hasError('max')">Número muito grande</div>
      </div>

      <label for="expectedSalary" class="form-label">Salario Mensal Líquido Esperado</label>
      <input
        type="number"
        class="form-control"
        id="expectedSalary"
        [class.is-invalid]="
          hourValueForm.get('expectedSalary')?.errors &&
          expectedSalary?.touched
        "
        formControlName="expectedSalary"
        placeholder="Dias de Trabalho no Mês"
      />
    </div>
  </form>
   <button
    *ngIf="hourValueId == null"
    type="button"
    [disabled]="isDisabled"
    class="btn btn-primary"
    (click)="createHourValue()"
  >
    Salvar
  </button>
  <button
    *ngIf="hourValueId != null"
    type="button"
    [disabled]="isDisabled"
    class="btn btn-primary"
    (click)="updateHourValue()"
  >
    Salvar Alterações
  </button>
<!-- Form END -->
